.wrapper-footer{
    background: #6e6c7585;
    display: flex;
    flex-grow: 1;
    height: 80px;
}

.footer-git{
    display: flex;
    margin-left: 3%;
    margin-block: auto;
}
.footer-year{
    color: #07f83fe6;
    font-size: 40px;
    align-self: center;
    display: flex;
    margin-left: 31%;
}

.img-Git{
    width: 50px;
}

.img-School{
    width: 100px;
    display: flex;
    margin-left: 35em;
    margin-top: 20px;
}

.img-Git:hover{
    cursor: pointer;
    width: 50px;
    transform: scale(1.2);
    transition: 0.3s;
    background-color: #ffffffb2;
    box-shadow: 1px 1px 10px 5px #ffffffb2, 0px 5px 4px 0 #fafafabe;
    border-radius: 50%;
}

.img-School:hover{
    box-shadow: 0px 0px 10px 5px #ffffffb2, 0px 0px 0px 0px #fafafabe;
    transform: scale(1.2);
    transition: 0.3s;
    border-radius: 10%;
    background-color: #ffffffb2;
}