.wrapper-footer{
    background: #1a0c02e0;
    display: flex;
    flex-grow: 1;
    height: 80px;
}

.footer-git{
    display: flex;
    margin-left: 3%;
    margin-block: auto;
}
.footer-year{
    color: #07f83fe6;
    font-size: 40px;
    align-self: center;
    display: flex;
    margin-left: 31%;
}

.img-Git{
    width: 50px;
}

.img-Schoo{
    width: 50px;
}