.wrapper-footer{
    background: #1a0c02e0;
    display: flex;
    flex-grow: 1;
}

.footer-git{
    display: flex;
    margin: 0 auto;
    width: 400px;
    justify-content: space-between;
}
.footer-year{
    font-weight: 900;
    color: #F8F5F0;
    font-size: 40px;
}

.footer-img{
    margin: auto;
}