.container-fluid {
	max-width: 1400px;
	margin: 0 auto;
}


.header {
	width: 100%;
	height: 60px;

}

.cards-container {
	margin-top: 5rem;
	padding: 1rem;
	display: grid;

	grid-template-columns: repeat(auto-fill, minmax(10.75rem, 25.75rem));
	grid-template-rows: 1fr;
	grid-column-gap: 4rem;
	grid-row-gap: 4rem;
	justify-content: center;
}