.country-card{
    width: 100% ;
    margin: 0 auto;
    border: 0 solid #e2e7ea;
    box-sizing: border-box;
    flex-grow: 7;
}

.country-wrapper--description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem 2rem;
    height: 100vh;
}
.country-wrapper-desriptions {
 flex-grow: 7; 
}

.country-photo--wrapper{
    width: 506px;
    height: 280px;
    border: 2px solid;
}


.country-photo {
    width: 506px;
    height: 280px;
}
.country-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 84px;
    line-height: 102px;
    letter-spacing: -2px;
    color: #FFFFFF;
}
  
.country-description{
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 34px;
letter-spacing: 1px;
color: #FFFFFF;
}

.carousel.carousel-slider {

    margin: 0 auto !important;
    overflow: hidden;
}



.thumbs-wrapper.axis-vertical{
    text-align: center !important;
}



.country-video {
   display: flex;
   flex-direction: column;
}


.country-descriptions {
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 84px;
    line-height: 102px;
    letter-spacing: -2px; 
    color: #FFFFFF;
}

.slider-wrapper{
    background-size: cover;
}


